@model Book
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";

    List<Author> authors = ViewBag.Authors;
    List<Category> categories = ViewBag.Categories;
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="@Model.Name" for="fullname">Name</label>
                        <input asp-for="@Model.Name" class="form-control" id="Name" placeholder="Name">
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="@Model.Price" for="fullname">Price</label>
                        <input asp-for="@Model.Price" class="form-control" id="Fullname" placeholder="Price">
                        <span asp-validation-for="@Model.Price" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="@Model.DiscountPercent" for="DiscountPercent">DiscountPercent</label>
                        <input asp-for="@Model.DiscountPercent" class="form-control" id="DiscountPercent" placeholder="DiscountPercent">
                        <span asp-validation-for="@Model.DiscountPercent" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="@Model.IsNew" for="IsNew">IsNew</label>
                        <input asp-for="@Model.IsNew" class="form-control" id="IsNew" placeholder="IsNew">
                        <span asp-validation-for="@Model.IsNew" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="@Model.IsAvailable" for="IsAvailable">Email</label>
                        <input asp-for="@Model.IsAvailable" class="form-control" id="IsAvailable" placeholder="IsAvailable">
                        <span asp-validation-for="@Model.IsAvailable" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="@Model.Desc" for="desc">Desc</label>
                        <textarea asp-for="@Model.Desc" class="form-control" id="desc" placeholder="Description" rows="3"></textarea>
                        <span asp-validation-for="@Model.Desc" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-3">
                        <label asp-for="@Model.AuthorId">Category</label>
                        <select class="form-control" asp-for="@Model.AuthorId" asp-items="@(new SelectList(authors,"Id","Fullname"))">
                        </select>
                        <span asp-validation-for="@Model.AuthorId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.CategoryId">Category</label>
                        <select class="form-control" asp-for="@Model.CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))">
                        </select>
                        <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-3">

                        <label asp-for="@Model.PosterFile">Poster File</label>
                        <input asp-for="@Model.PosterFile" class="form-control">
                        <span asp-validation-for="@Model.PosterFile" class="text-danger"></span>
                    </div>
                    @{
                        BookPhoto poster = Model.BookPhotos.FirstOrDefault(x => x.PosterStatus == true);
                    }
                    @if (poster != null)
                    {
                        <div class="form-group col-md-12">
                            <div style="margin-top:8px" class="photo-box">
                                <img style="max-width:100%" src="~/uploads/books/@poster.Name" alt="Alternate Text" />
                                <input name="PosterFileId" value="@poster.Id" hidden />
                                <i class="fas fa-times removePhoto" style="cursor:pointer"></i>

                            </div>
                        </div>
                    }

                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.Files">Photos</label>
                        <input asp-for="@Model.Files" class="form-control">
                        <span asp-validation-for="@Model.Files" class="text-danger"></span>
                    </div>
                    <div class="form-row col-md-12 d-flex">
                        @foreach (var item in Model.BookPhotos.Where(b => b.PosterStatus == false).ToList())
                        {

                            <div class="form-group col-md-12">
                                <div style="margin-top:8px" class="photo-box">
                                    <img style="max-width:100%" src="~/uploads/books/@item.Name" alt="Alternate Text" />
                                    <input name="FileIds" value="@item.Id" hidden />
                                    <i class="fas fa-times removePhoto" style="cursor:pointer"></i>

                                </div>
                            </div>


                        }

                    </div>
                </div>




            </form>


            <button type="submit" class="btn btn-primary">Edit</button>
            <a asp-area="manage" asp-controller="Book" asp-action="index" style="border-radius:6px; padding:12px 19px 15px 14px;" class="button w-24 border text-gray-700 mr-1">Cancel</a>

        </div>

    </div>

</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).on("click", ".removePhoto", function () {
                $(this).parent().empty()
            })
        })
    </script>

}

